/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/

body {
    background-color: #bdc3c7;
    color: white;
    width: 250px;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.61);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 0.3em;
}    

p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #bdc3c7;
    padding: 0 1em;
    font-size: 90%;
}    

div {
    background-color: #31363b;
    font-weight: bold;
} 

img {
    width: 250px;
}    

ul {
    padding: 0;
    margin-bottom: 0;
} 

li {
    display: inline-block;
    text-align: center;
} 

a:visited {
    color: white;
} 

.jmeno {
    padding-left: 16px;
    font-size: 24px;
}

.logo {
    position: absolute;
    left: 180px;
    top: 150px;
    background-color: #b92e81;
    border-radius: 30px;
    max-width: 50px;
    box-shadow: 0px 7px 18px 0px rgba(0,0,0,0.61);
} 

.odkazy a {
    font-family: 'Montserrat', sans-serif;
    color: #acb8c4;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 20px;
}    

.portfolio {
    width: 100%;
    float: top;
    border-top: 0.5px solid #3f464d;
}    

.portfolio a:hover {
    background-color: #e74c3c;
    color: white;
}    

.profil {
    display: flex;
    flex-wrap: wrap;
}    

.facebook {
    width: 50%;
    float: left;
    border-top: 0.5px solid #3f464d;
    border-right: 0.5px solid #3f464d;
}    

.facebook a:hover {
    background-color: #3b5998;
    color: white;
}    

.twitter {
    width: 50%;
    float: left;
    border-top: 0.5px solid #3f464d;
}   

.twitter a:hover {
    background-color: #1da1f2;
    color: white;
}    